<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <title>{{title}}</title>
    <link
      href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css'
      rel='stylesheet'
      integrity='sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65'
      crossorigin='anonymous'
    />
    
  </head>
  <body>
    <div class='container mb-5 mt-3'>
      <div class='row d-flex align-items-baseline'>
        <div class='col-xl-12'>
     <p style='color: #304f4f;font-size: 20px; margin-bottom: 15px;'>Project Name : <strong>{{name}}</strong></p>
          {{#each departments}}
       <p style='color: #000;font-size: 18px; margin-bottom: 15px;'>Department : {{code}} - {{name}}</p>
	    {{#each rooms as | key1|}}
       <p style='color: #000;font-size: 18px; margin-bottom: 15px;'>Rooms : {{code}} - {{name}}</p>
            {{#if ../../pagewise}} {{#index_gt @index}}
		 
			<div class="page-break">
			 {{/index_gt}}  {{/if}} {{#if ../../pagewise}} {{#index_gt @index}}  </div>  {{/index_gt}} {{/if}}


            <table class='table table-bordered'>
              <thead class='table-light'>
                <tr>
                  <th>Equipment Code</th>
                  <th>Equipment Name</th>
                  <th>Qty</th>
                  <th>Group</th>
                  <th>Remarks</th>
                  <th>Yes</th>
                  <th>No</th>
                  <th>Client Remarks</th>
                </tr>
              </thead>
              <tbody>
                {{#each group as |item key3| }}

                      
          <p style='color: #000;font-size: 18px; margin-bottom: 15px;'> {{#value_undefine key3}}
                     {{key3}} 
                 {{/value_undefine}} </p>
                  {{#each item  }}
                  <tr>
                      <td>{{code}}</td>
                      <td>{{name}}</td>
                      <td>{{quantity}}</td>
                      <td>{{group}}</td>
                      <td>{{remarks}}</td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                   {{/each}}
                   <tr>
                    <td></td>
                      <td>Total Equipments for Room  {{code}}</td>
                      <td>{{sum item "quantity"}}</td>
                      </tr>
                {{/each}}


              </tbody>
            </table>
			
			  {{#if ../../w_sign}}
			    <table class='table '>
				  <tbody>
				   <tr>
				     <td>Received by:</td>
					  <td></td>
					  <td></td>
					  <td>MNE SOLUTIONS: </td>
				   </tr>
				    <tr>
				     <td>Full Name</td>
					  <td>Full Name</td>
					  <td>Full Name</td>
					 
				   </tr>
				    <tr>
				     <td>Designation</td>
					  <td>Designation</td>
					  <td>Designation</td>
					 
				   </tr>
				    <tr>
				     <td>Stamp</td>
					  <td>Stamp</td>
					  <td>Stamp</td>
					 
				   </tr>
				    <tr>
				     <td>Date</td>
					  <td>Date</td>
					  <td>Date</td>
					 
				   </tr>
				   </tbody>
              </table>
			  {{/if}}
			{{/each}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</body>

</html>