<html lang='en'>

<head>
  <meta charset='utf-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1' />
  <title>{{title}}</title>
  <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css' rel='stylesheet'
    integrity='sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65' crossorigin='anonymous' />
  <style>
    .page-break {
      page-break-before: always;
    }
  </style>
</head>

<body>
  <div class='container-fluid mb-5 mt-0'>
    <div class='row d-flex align-items-baseline'>
      <div class='col-xl-12'>
        {{!-- <p style='color: #304f4f; font-size: 16px; margin-bottom: 1px; margin-top: 0px;'><b>Project Name : <span class="text-uppercase">{{name}}</span></b></p>
        <p style='color: #304f4f; font-size: 14px; margin-bottom: 1px;'>Revision No: 5.001* <span style="margin-left:35px;">Date: {{currentDate}}</span></p>
        <p style='color: #304f4f; font-size: 16px; margin-bottom: 20px;'><b>Equipment Listing (BQ) <span style="margin-left:35px;">Qty : Total Quantity</span></b></p> --}}

        {{!-- {{#each departments}} {{/each}} --}}
        {{#index_gt @index}}
        <div class="page-break">
          {{/index_gt}}
            {{!-- <p style='color: #304f4f; font-size: 16px; margin-bottom: 20px;'><b>Equipment Listing (BQ)</b></p> --}}
          {{#index_gt @index}}
        </div>
        {{/index_gt}}

        <table class='table table-bordered' style="font-size: 15px; margin-bottom:20px;">
          <thead class='table-light'>
            <tr>
              <th style="padding-top:6px;padding-bottom:6px; color: #242729;">Equipment Code</th>
              <th style="padding-top:6px;padding-bottom:6px; color: #242729;">Equipment Name</th>
              <th style="padding-top:6px;padding-bottom:6px; color: #242729;">Prev Qty</th>
              <th style="padding-top:6px;padding-bottom:6px; color: #242729;">Rev Qty</th>
              <th style="padding-top:6px;padding-bottom:6px; color: #242729;">Diff Qty</th>
              <th style="padding-top:6px;padding-bottom:6px; color: #242729;">Prev Price</th>
              <th style="padding-top:6px;padding-bottom:6px; color: #242729;">Total Price</th>
              <th style="padding-top:6px;padding-bottom:6px; color: #242729;">Rev Price</th>
              <th style="padding-top:6px;padding-bottom:6px; color: #242729;">Total Price</th>
              <th style="padding-top:6px;padding-bottom:6px; color: #242729;">Diff Price</th>
            </tr>
          </thead>
          <tbody>

              {{#each EquipmentItemlist as |eq_item key3| }}
            <tr>
              <td style="padding-top:6px;padding-bottom:6px;">{{code}}</td>
              <td style="padding-top:6px;padding-bottom:6px;">{{name}}</td>
              <td style="padding-top:6px;padding-bottom:6px;">{{quantity}}</td>
              
              <td style="padding-top:6px;padding-bottom:6px;">{{quantity_rev2}}</td>
              <td style="padding-top:6px;padding-bottom:6px;">{{differ_cal quantity quantity_rev2 }} </td>
              <td style="padding-top:6px;padding-bottom:6px;">{{cost}}</td>
               <td style="padding-top:6px;padding-bottom:6px">{{multiply quantity cost}} </td>
               <td style="padding-top:6px;padding-bottom:6px;">{{cost_rev2}}</td>

               <td style="padding-top:6px;padding-bottom:6px">{{multiply quantity_rev2 cost_rev2}} </td>
              <td style="padding-top:6px;padding-bottom:6px">{{differnce_price eq_item}} </td>
            </tr>
            {{/each}}
            <tr style="border: 0;">
              <td style="border: 0;"></td>
              <td style="border-color: #dfe0e1; border-bottom: 1px solid #dfe0e1; padding-top:6px;padding-bottom:6px">Sub-Total:</td>
              <td style="border-color: #dfe0e1; border-bottom: 1px solid #dfe0e1; padding-top:6px;padding-bottom:6px">{{sum EquipmentItemlist "quantity"}}</td>
               <td style="border-color: #dfe0e1; border-bottom: 1px solid #dfe0e1; padding-top:6px;padding-bottom:6px">{{sum EquipmentItemlist "quantity_rev2"}}</td>

                <td style="border-color: #dfe0e1; border-bottom: 1px solid #dfe0e1; padding-top:6px;padding-bottom:6px">{{total_difernce EquipmentItemlist "quantity" "quantity_rev2" }}</td>
                <td style="border-color: #dfe0e1; border-bottom: 1px solid #dfe0e1; padding-top:6px;padding-bottom:6px"></td>
                <td style="border-color: #dfe0e1; border-bottom: 1px solid #dfe0e1; padding-top:6px;padding-bottom:6px">{{calculateSumOfTotal EquipmentItemlist }}</td>
                <td style="border-color: #dfe0e1; border-bottom: 1px solid #dfe0e1; padding-top:6px;padding-bottom:6px"></td>
                 <td style="border-color: #dfe0e1; border-bottom: 1px solid #dfe0e1; padding-top:6px;padding-bottom:6px">{{calculateSumOfTotal_rev EquipmentItemlist }}</td>
                <td style="border-color: #dfe0e1; border-bottom: 1px solid #dfe0e1; padding-top:6px;padding-bottom:6px">{{total_price_difernce EquipmentItemlist }}</td>
            </tr>
            {{!-- {{#each rooms}}{{/each}} --}}
          </tbody>
        </table>

      </div>
    </div>
  </div>
</body>

</html>