<html lang='en'>
<head>
  <meta charset='utf-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1' />
  <title>{{title}}</title>
  <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css' rel='stylesheet'
    integrity='sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65' crossorigin='anonymous'
  />
</head>
<body>
  <div class='container-fluid mb-5 mt-0'>
    <div class='row d-flex align-items-baseline'>
      <div class='col-xl-12'>    
        {{#each equipments}}
          <p style='color: #242729;font-size: 16px; margin-bottom: 5px;'><b> Equipment:</b> <span>{{eqp_code}}</span> <span style="margin-left:30px;">{{eqp_name}}</span></p>
          <table class='table table-bordered' style="font-size: 15px; margin-bottom:20px;">
            <thead class='table-light'>
              <tr>
                <th style="padding-top:6px;padding-bottom:6px; color: #242729;">Dept Code</th>
                <th style="padding-top:6px;padding-bottom:6px; color: #242729;">Department</th>
                <th style="padding-top:6px;padding-bottom:6px; color: #242729;">Room Code</th>
                <th style="padding-top:6px;padding-bottom:6px; color: #242729;">Room Name</th>
                <th style="padding-top:6px;padding-bottom:6px; color: #242729;">Quantity</th>
              </tr>
            </thead>
            <tbody>      
              {{#each locations}}
                <tr>
                  <td style="padding-top:6px;padding-bottom:6px">{{department_code}}</td>
                  <td style="padding-top:6px;padding-bottom:6px">{{department_name}}</td>
                  <td style="padding-top:6px;padding-bottom:6px">{{room_code}}</td>
                  <td style="padding-top:6px;padding-bottom:6px">{{room_name}}</td>
                  <td style="padding-top:6px;padding-bottom:6px">{{quantity}}</td>
                </tr>      
              {{/each}}
                <tr style="border: 0;">
                  <td style="border:0;"></td>
                  <td style="border:0;"></td>
                  <td style="border:0;"></td>
                  <td style="border-color: #dfe0e1; border-bottom: 1px solid #dfe0e1; padding-top:6px;padding-bottom:6px">Sub-Total:</td>
                  <td style="border-color: #dfe0e1; border-bottom: 1px solid #dfe0e1; padding-top:6px;padding-bottom:6px">{{sum locations "quantity"}}</td>
                </tr>
            </tbody>
          </table>
        {{/each}}
        <p style="text-align:right; margin-bottom:0px; color: #242729;"><b>Total Equipment : {{ calculateSumOfTotalEquipmentLocationListing equipments }}</b></p>
      </div>
    </div>
  </div>  
</body>
</html>